<div class="sign-container d-flex flex-column">
  <div class="text-center">
    <h1>Sign In</h1>
    <p class="description">Sign in and start chating with friends!</p>
  </div>
  <form id="sign-in-form">
    <app-custom-input
      [InputId]="'sign-in-username'"
      [InputPlaceholder]="'Username or Email'"
      (InputValueChanged)="changeInputValue('emailOrUserName', $event)"
    ></app-custom-input>
    <app-custom-input
      [InputId]="'sign-in-password'"
      [InputType]="'password'"
      [InputPlaceholder]="'Password'"
      (InputValueChanged)="changeInputValue('password', $event)"
    ></app-custom-input>
    <div class="validation-errors">
      <ul>
        <li *ngIf="getSignInValidationError()">
          {{ getSignInValidationError() }}
        </li>
      </ul>
    </div>
    <div class="forgot-block d-flex flex-column align-items-center">
      <a class="forgot d-block" (click)="openResetPasswordModal()"
        >Forgot password?</a
      >
      <a class="forgot d-block mt-2" [routerLink]="'/auth/register'"
        >No account?</a
      >
    </div>
    <div class="submit text-center">
      <button type="button" (click)="login()">Sign In</button>
    </div>
  </form>
</div>
<img src="assets/auth-bg.png" class="auth-bg" />
<app-reset-password-modal></app-reset-password-modal>
