<header class="header d-flex justify-content-between">
  <div class="logo d-flex align-items-center gap-2" [routerLink]="'/'">
    <img src="assets/icon.png" alt="icon" class="d-block logo-img" />
    <p class="logo-text">Chat App</p>
  </div>
  <div
    class="sign-section d-flex align-items-center gap-2"
    *ngIf="!isAuthenticated; else userProfileButton"
  >
    <button class="btn btn-primary" [routerLink]="'/auth/login'">
      Sign In
    </button>
  </div>
</header>

<ng-template #userProfileButton>
  <div class="sign-section dropdown d-flex align-items-center gap-4">
    <a
      class="dropdown-link"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        [src]="user?.imagePath ?? defaultImagePath"
        alt="user profile picture"
      />
    </a>
    <ul class="dropdown-menu">
      <li>
        <button class="btn btn-primary dropdown-item">Profile</button>
      </li>
      <li>
        <button class="btn btn-primary dropdown-item" (click)="logout()">
          Log Out
        </button>
      </li>
    </ul>
  </div>
</ng-template>
