<header class="header d-flex justify-content-between">
  <div class="logo d-flex align-items-center gap-2">
    <img src="assets/icon.png" alt="icon" class="d-block logo-img" />
    <p class="logo-text">Chat App</p>
  </div>
  <nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          *ngIf="!isAuthenticated"
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          >Home</a
        >
        <a
          *ngIf="isAuthenticated"
          class="nav-link"
          routerLink="/chats"
          routerLinkActive="active"
          >Chats</a
        >
      </div>
    </div>
  </nav>
  <div
    class="sign-section d-flex align-items-center gap-2"
    *ngIf="!isAuthenticated; else userProfileButton"
  >
    <button class="btn btn-primary" routerLink="/auth/login">Sign In</button>
    <button class="btn btn-warning text-white" routerLink="/auth/register">
      Sign Up
    </button>
  </div>
</header>

<ng-template #userProfileButton>
  <div class="sign-section d-flex align-items-center gap-2">
    <button class="btn btn-light d-flex align-items-center gap-2">
      <fa-icon [icon]="['far', 'user']"></fa-icon> <span>Profile</span>
    </button>
    <button class="btn btn-primary">Log Out</button>
  </div>
</ng-template>
