@import 'colors'
@import 'sizes'

.header
  color: $white
  text-shadow: $dark 0 0 10px
  font-size: 20px
  height: 64px
  padding: 35px 24px
  background-color: $bg-color

  & .logo
    cursor: pointer
    user-select: none

    &-img
      height: 32px
      width: 32px
      &:hover, &:active, &:focus
        transform: rotate(-5deg) scale(1.1)

    &-text
      user-select: none

      @media (max-width: $mobile)
        display: none

      &:hover, &:active, &:focus
        color: $white-hover

.dropdown-link
  border-radius: 50%

  & img
    width: 48px
    height: 48px

.dropdown-menu
  min-width: auto
  padding: 0
  overflow: hidden

.dropdown-item
  padding: 8px 16px
