<ngx-smart-modal #newChat [identifier]="newChatIdentifier">
  <div class="d-flex flex-column align-items-center">
    <div class="header d-flex flex-column align-items-center">
      <h1>Create new chat</h1>
      <p class="description mt-2">
        Enter username you want to chat with start message
      </p>
    </div>
    <form class="form">
      <app-custom-input
        [InputId]="'chat-username'"
        [InputPlaceholder]="'UserName'"
        (InputValueChanged)="changeInputValue('userName', $event)"
      ></app-custom-input>
      <app-custom-input
        [InputId]="'chat-new-message'"
        [InputPlaceholder]="'Message'"
        (InputValueChanged)="changeInputValue('message', $event)"
      ></app-custom-input>
      <div class="validation-errors">
        <ul>
          <li *ngFor="let error of getValidationErrors()">
            {{ error }}
          </li>
        </ul>
      </div>
      <div class="submit text-center">
        <button type="button" (click)="addNewChat()">Create new chat</button>
      </div>
    </form>
  </div>
</ngx-smart-modal>
