<div class="d-flex flex-column position-relative">
  <label *ngIf="InputText" for="{{ InputId }}" class="form-label">{{
    InputText
  }}</label>
  <input
    type="{{ InputType }}"
    id="{{ InputId }}"
    placeholder="{{ InputPlaceholder ?? 'Enter your value' }}"
    value="{{ StartValue }}"
    [style.width]="Width"
    autocomplete="new-password"
  />
  <fa-icon
    class="password-icon"
    *ngIf="canShowPasswordIcon()"
    [icon]="passwordIcon"
    (click)="changePasswordView()"
  ></fa-icon>
</div>
