@import 'colors'

input
  padding: 12px 18px

.custom-input
  background-color: $input-bg
  color: $white
  border-radius: 10px
  width: calc(100% - 24px)

  &:active,
  &:focus
    outline: 3px solid $btn-color

  &.error
    outline: 3px solid $input-error

  &::placeholder
    color: $white

.search-input
  background-color: $input-search

.password-icon,
.message-icon,
.search-icon
  position: absolute
  right: 12px
  bottom: 12px
  cursor: pointer
  user-select: none
  margin-left: 6px

.password-icon
  color: $white

.message-icon,
.search-icon
  color: $grey

.message-icon
  right: 24px

.search-icon:hover
  color: $grey-hover
