<div class="d-flex flex-column position-relative">
  <label *ngIf="InputText" [for]="InputId" class="form-label">{{
    InputText
  }}</label>
  <input
    [(ngModel)]="inputValue"
    [type]="InputType"
    [id]="InputId"
    [placeholder]="InputPlaceholder ?? 'Enter your value'"
    [value]="InputValue"
    [style.width]="Width"
    [style.paddingRight.px]="getPaddingRightForInput()"
    autocomplete="off"
    (keyup.enter)="canClickEnterToSendMessage() ? sendMessage() : ''"
    [ngClass]="customInputClass"
    (ngModelChange)="changeInputValue($event)"
  />
  <fa-icon
    class="password-icon"
    *ngIf="canShowPasswordIcon()"
    [icon]="passwordIcon"
    (click)="changePasswordView()"
  ></fa-icon>
  <fa-icon
    class="message-icon"
    *ngIf="canShowMessageIcon()"
    [icon]="['far', 'envelope']"
    [size]="'lg'"
    (click)="sendMessage()"
  >
  </fa-icon>
  <fa-icon
    class="search-icon"
    *ngIf="canShowCloseSearchButton()"
    [icon]="searchIcon"
    [size]="'lg'"
    (click)="onSearchIconClicked()"
  ></fa-icon>
</div>
