$bg-color: #febbcc
$auth-bg: #E5E5E5
$main-bg: #F5F5F5
$pink: #f7e1e1
$dark-pink: #eb74e973
$white: #fff
$white-hover: #ffddcc
$grey: #878787
$grey-hover: #bababa
$dark: #371414
$input-bg: #0b6687
$input-error: #fc2d2d
$input-error-hover: #940909
$btn: #20DF7F
$btn-hover: #07b85f
$btn-box-shadow: #0000004D
$scrollbar: #9d9d9d
$scrollbar-hover: #696969
$wave: #3586FF
