@import "colors"
@import "sizes"
@import "node_modules/bootstrap/scss/bootstrap"
@import "node_modules/ngx-smart-modal/styles/ngx-smart-modal"
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap')

html, body
  height: 100%
  font-family: 'Lexend Deca', sans-serif

p
  margin: 0

a
  text-decoration: none

input, button
  outline: none
  border: none
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:active,
  &:-webkit-autofill:focus
    -webkit-text-fill-color: $white
    -webkit-box-shadow: 0 0 0 30px $input-bg inset !important

  &:disabled
    cursor: not-allowed

fa-icon
  cursor: pointer

fa-icon,
img
  user-select: none

.text-overflow
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.submit
  width: 100%

  & button
    padding: 12px 116px
    background-color: $btn
    color: $white
    border-radius: 10px
    font-weight: 600
    box-shadow: 0 4px 4px $btn-box-shadow

    &:hover,
    &:active,
    &:focus,
    &:disabled
      background-color: $btn-hover

.validation-errors
  margin-top: 16px
  color: $input-error
  max-width: 300px

  & ul
    padding-left: 20px
    margin-bottom: 0
