@import 'colors'
@import 'sizes'

:host
  display: flex
  justify-content: center

.form
  max-width: 360px

  @media (max-width: $mobile)
    max-width: 300px

.description
  max-width: 300px

.description,
:host ::ng-deep input,
.submit
  margin-top: 24px

:host ::ng-deep .nsm-dialog-btn-close
  background-color: $input-error
  border-radius: 50%
  color: $white
  display: flex
  justify-content: center
  align-items: center
  height: 32px
  width: 32px

  &:hover
    background-color: $input-error-hover

  & svg
    display: block
    height: 16px
    width: 16px

@media (max-width: $mobile)
  .header
    align-items: flex-start !important
