<div class="sign-container d-flex flex-column">
  <div class="text-center">
    <h1>Sign Up</h1>
    <p class="description">Sign up and get new acquaintances!</p>
  </div>
  <form>
    <app-custom-input
      [InputId]="'sign-up-email'"
      [InputPlaceholder]="'Email'"
      [InputType]="'email'"
      (InputValueChanged)="changeInputValue('email', $event)"
    ></app-custom-input>
    <app-custom-input
      [InputId]="'sign-up-username'"
      [InputPlaceholder]="'Username'"
      (InputValueChanged)="changeInputValue('username', $event)"
    ></app-custom-input>
    <app-custom-input
      [InputId]="'sign-up-password'"
      [InputType]="'password'"
      [InputPlaceholder]="'Password'"
      (InputValueChanged)="changeInputValue('password', $event)"
    ></app-custom-input>
    <div class="validation-errors">
      <ul>
        <li *ngFor="let error of getValidationErrors()">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="forgot-block d-flex flex-column align-items-center">
      <a class="forgot d-block mt-2" [routerLink]="'/auth/login'"
        >Already registered?</a
      >
    </div>
    <div class="submit text-center">
      <button
        type="button"
        [disabled]="getValidationErrors().length || signUpForm.untouched"
        (click)="register()"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>
<img src="assets/auth-bg.png" class="auth-bg" />
