<div class="sign-container d-flex flex-column">
  <div class="text-center">
    <h1>Sign Up</h1>
    <p class="description">Sign up and get new acquaintances!</p>
  </div>
  <form class="sign-form">
    <app-custom-input
      [InputId]="'sign-up-email'"
      [InputPlaceholder]="'Email'"
      [InputType]="'email'"
    ></app-custom-input>
    <app-custom-input
      [InputId]="'sign-up-username'"
      [InputPlaceholder]="'Username'"
    ></app-custom-input>
    <app-custom-input
      [InputId]="'sign-up-password'"
      [InputType]="'password'"
      [InputPlaceholder]="'Password'"
    ></app-custom-input>
    <div class="forgot-block d-flex flex-column align-items-center">
      <a class="forgot d-block mt-2" routerLink="/auth/login"
        >Already registered?</a
      >
    </div>
    <div class="submit text-center">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
<img src="assets/auth-bg.png" class="auth-bg" />
