<app-header></app-header>
<div class="blocks d-flex">
  <div
    class="chat"
    mwlResizable
    [enableGhostResize]="true"
    [ngStyle]="chatStyles"
    (resizing)="onChatResizeEnd($event)"
  >
    <div
      class="resize-handle-right position-absolute h-100"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
    ></div>
    <app-custom-input
      [InputId]="'find-chat'"
      [InputPlaceholder]="'Search...'"
      [customInputClass]="'search-input'"
      (InputValueChanged)="getChatsByUserName($event)"
      (NewChatButtonClicked)="openNewChatModal()"
    ></app-custom-input>
    <div
      class="chat-blocks d-flex flex-column"
      [ngClass]="chats.length === 0 ? 'justify-content-center' : ''"
    >
      <ng-container *ngIf="chats.length > 0; else noChatsBlock">
        <ng-container *ngFor="let chat of chats">
          <app-chat
            [chat]="chat"
            [isActive]="isActiveChat(chat.id)"
            (click)="selectChat(chat.id)"
          ></app-chat
        ></ng-container>
      </ng-container>
    </div>
  </div>
  <div class="conversation" [ngStyle]="conversationStyles">
    <app-conversation [chatId]="selectedChatId"></app-conversation>
  </div>
</div>
<app-new-chat-modal
  (NewChatAdded)="onNewChatForCurrentUser($event)"
></app-new-chat-modal>

<ng-template #noChatsBlock>
  <p class="conversation-text text-center">
    Create new chat to start conversation
  </p>
</ng-template>

<ngx-loading [show]="isLoaded"></ngx-loading>
