<app-header></app-header>
<div class="blocks d-flex">
  <div
    class="chat"
    mwlResizable
    [enableGhostResize]="true"
    [ngStyle]="chatStyles"
    (resizing)="onChatResizeEnd($event)"
  >
    <div
      class="resize-handle-right position-absolute h-100"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
    ></div>
    <app-custom-input
      [InputId]="'find-chat'"
      [InputPlaceholder]="'Search...'"
      [customInputClass]="'search-input'"
    ></app-custom-input>
    <div class="chat-blocks d-flex flex-column" *ngFor="let chat of chats">
      <app-chat
        [chat]="chat"
        [isActive]="isActiveChat(chat.id)"
        (click)="selectChat(chat.id)"
      ></app-chat>
    </div>
  </div>
  <div class="conversation" [ngStyle]="conversationStyles">
    <div class="conversation-member d-flex w-100">
      <img
        src="assets/chat.png"
        alt="avatar"
        class="conversation-member-img d-block"
      />
      <div
        class="conversation-member-info d-flex align-items-center justify-content-between gap-2"
      >
        <p class="conversation-member-name">Soneta</p>
        <fa-icon
          class="d-block"
          [icon]="['fas', 'ellipsis-vertical']"
          [size]="'xl'"
        ></fa-icon>
      </div>
    </div>
    <div class="messages d-flex flex-column-reverse gap-2">
      <div class="message left-message d-flex flex-column">
        <p class="message-text">
          messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage
        </p>
        <p class="message-date">11:02</p>
      </div>
      <div class="message left-message d-flex flex-column">
        <p class="message-text">
          messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage
        </p>
        <p class="message-date">11:02</p>
      </div>
      <div class="message left-message d-flex flex-column">
        <p class="message-text">
          messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage
        </p>
        <p class="message-date">11:02</p>
      </div>
      <div class="message left-message d-flex flex-column">
        <p class="message-text">
          messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage
        </p>
        <p class="message-date">11:02</p>
      </div>
      <div class="message left-message d-flex flex-column">
        <p class="message-text">
          messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage
        </p>
        <p class="message-date">11:02</p>
      </div>
      <div class="message left-message d-flex flex-column">
        <p class="message-text">
          messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage
        </p>
        <p class="message-date">11:02</p>
      </div>
      <div class="message right-message d-flex flex-column">
        <p class="message-text">
          messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage
        </p>
        <p class="message-date">11:02</p>
      </div>
    </div>
    <app-custom-input
      [InputId]="'send-message'"
      [InputPlaceholder]="'Enter message...'"
      [customInputClass]="'search-input'"
    ></app-custom-input>
  </div>
</div>
