<ngx-smart-modal #resetModal [identifier]="resetModalIdentifier">
  <div class="d-flex flex-column align-items-center">
    <div class="header d-flex flex-column align-items-center">
      <h1>Reset password</h1>
      <p class="description mt-2">
        Enter your email and we will send you on post new link to change
        password.
      </p>
    </div>
    <form class="form">
      <app-custom-input
        [InputId]="'reset-email'"
        [InputPlaceholder]="'Email'"
        [InputType]="'email'"
        (InputValueChanged)="changeEmailValue($event)"
      ></app-custom-input>
      <div class="validation-errors">
        <ul>
          <li *ngFor="let error of getResetPasswordValidationErrors()">
            {{ error }}
          </li>
        </ul>
      </div>
      <div class="submit text-center">
        <button type="button" (click)="sendResetPasswordEmail()">
          Reset password
        </button>
      </div>
    </form>
  </div>
</ngx-smart-modal>
