<app-header></app-header>
<div class="blocks d-flex">
  <div
    class="chat"
    mwlResizable
    [enableGhostResize]="true"
    [ngStyle]="chatStyles"
    (resizing)="onChatResizeEnd($event)"
  >
    <div
      class="resize-handle-right position-absolute h-100"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
    ></div>
    <div class="chat-blocks d-flex flex-column">
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
      <div class="chat-block d-flex">
        <img
          src="assets/chat.png"
          alt="avatar"
          class="chat-block-img d-block"
        />
        <div class="chat-block-text d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <p class="chat-block-name text-overflow">Soneta</p>
            <p class="chat-block-date">24.02</p>
          </div>
          <p class="chat-block-message text-overflow">Hello, world!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="conversation" [ngStyle]="conversationStyles"></div>
</div>
