<div class="chat-block d-flex" [ngClass]="{ active: isActive }">
  <img
    [src]="chat.interlocutor.imagePath ?? defaultImagePath"
    alt="avatar"
    class="chat-block-img d-block"
  />
  <div class="chat-block-text d-flex flex-column gap-1">
    <div class="d-flex justify-content-between gap-2">
      <p class="chat-block-name text-overflow">
        {{ chat.interlocutor.userName }}
      </p>
      <div class="d-flex gap-1">
        <fa-icon
          *ngIf="chat.lastMessage.isMine && !chat.lastMessage.isRead"
          class="chat-block-icon"
          [icon]="['fas', 'check']"
          [size]="'xs'"
        ></fa-icon>
        <fa-icon
          *ngIf="chat.lastMessage.isMine && chat.lastMessage.isRead"
          class="chat-block-icon"
          [icon]="['fas', 'check-double']"
          [size]="'sm'"
        ></fa-icon>
        <p class="chat-block-date">
          {{ toDatePreview(chat.lastMessage.sentAt) }}
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-between gap-2 mb-2">
      <p class="chat-block-message text-overflow">
        {{ chat.lastMessage.value }}
      </p>
      <p *ngIf="chat.unreadMessagesCount" class="chat-block-message-count">
        {{ chat.unreadMessagesCount }}
      </p>
    </div>
  </div>
</div>
