<main class="main">
  <div class="main-container d-flex align-items-center justify-content-around">
    <div class="img"><img src="assets/chat.png" alt="chat" /></div>
    <div class="main-content text-center d-flex flex-column align-items-center">
      <h1>Welcome to Chat App!</h1>
      <p class="mt-2">
        Seamless communication, instant messaging, and real-time connection in a
        user-friendly chat application.
      </p>
      <button class="btn btn-success btn-lg">Start Now</button>
    </div>
  </div>
  <app-custom-input [InputId]="'id'"></app-custom-input>
  <!-- TODO: add something with friends  -->
</main>
